body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background: #e7e9ec !important;
    color: #434649;
}

#wrapper {
    position: relative;
    width: 530px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 3%;
    background: #fff;
    box-shadow: 5px 5px 3px #888888;
    border-radius: 5px;
    height: 450px;
    overflow: auto;
}

ul li {
    list-style-type: none;
}

table#todo-table {
    width: 530px;
    margin: 0 auto;
    margin-top: 2%;
}

table#todo-table table tr:nth-child(even) td {
    background: #F6F5F4;
}

table#todo-table table tr.rows:hover td,
table#todo-table table tr.rows.selected td {
    background: #D3F1EE;
}

table#todo-table table tr.rows {
    cursor: pointer;
}

td.name {
    text-transform: capitalize;
}

td, th {
    padding: 5px 8px;
}

input[type="text"],
select {
    padding: 5px;
    border-radius: 3px;
    border: solid 1px #ccc;
}

button {
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

button.primary {
    background-color: #286090;
    border-color: #122b40;
}

button.primary:hover {
    background-color: #286090;
    border-color: #204d74;
}

button.success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

button.success:hover {
    background-color: #449d44;
    border-color: #398439;
}

button.info {
    background-color: #5bc0de;
    border-color: #46b8da;
}

button.info:hover {
    background-color: #31b0d5;
    border-color: #269abc;
}

button.danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}

button.danger:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

tr#tableHeader {
    background: #436AB3;
    color: #C7D2E7;
}

#todoForm-wrapper {
    background: #436AB3;
}

thead tr#tableHeader {
    position: absolute;
    width: 492px;
}

table#todo-table table tbody {
    margin-top: 25px;
    position: absolute;
    width: 490px;
    border: solid 1px #ddd;
    height: 290px;
    overflow-y: scroll;
}

td#no-item-present {
    width: 450px;
    margin-top: 100px;
    position: absolute;
}

td.sl {
    width: 35px;
}

th.sl {
    width: 25px;
}

th.name {
    width: 100px;
}

td.done {
    width: 33px;
}

th.priority {
    width: 56px;
}

td.priority {
    width: 50px;
}

td.name {
    width: 115px;
}

td.down {
    width: 45px;
}

button.primary:after {
    content: "Add";
}

button.success:after {
    content: "Save";
}

input[type="text"]#itemName.error {
    border-color: red;
    color: red;
    background: #FFEEEE;
}

tr.rows.fadeIn {
    opacity: 1;
    transition: opacity 1s;
}

tr.rows.fadeOut {
    opacity: 0;
}

table#todo-table table tr.rows.done,
table#todo-table table tr.rows.done button {
    text-decoration: line-through;
    opacity: 0.5;
    cursor: default;
}